[z_tilt]
z_positions: 
  11.5, 8         #stepper_z Mini Tank
  361.5, 8        #stepper_z1 Mini Tank
  187.5, 362      #stepper_z2 Mini Tank
points: 
  330,290         #probe location Right Rear
  40,290          #probe location Left Rear
  40,15           #probe location Left Front
  330,15          #probe location Right Front
speed: 400
horizontal_move_z: 30
retries: 5 # Number of times to retry if the probed points aren't within tolerance.
retry_tolerance:0.150

# From turtle on discord